<template>
  <div class="w3-card-4">
    <header class="w3-container">
      <h4>Comments</h4>
    </header>
    <div class="w3-container w3-center">
      <textarea v-model="comment" class="w3-input w3-border w3-light-grey comment-textarea"></textarea>
      <button @click="addComment" class="w3-btn w3-ripple w3-teal">Add comment</button>
    </div>
    <footer class="w3-container">
      <div v-if="!commentList.length">No comments found!</div>
      <ul v-else>
        <li
          class="w3-bar comment w3-panel w3-border-top w3-border-bottom"
          v-for="(item, index) in sortedComments"
          :key="item.id"
        >
          <span
            @click="removeComment(index)"
            class="w3-bar-item w3-button w3-xlarge w3-right"
          >&times;</span>
          <table>
            <tr style="vertical-align: top;">
              <td>
                <div style class="div-photo w3-bar-item">
                  <img
                    v-bind:src="item.photo"
                    style="width: 100%; min-height: 100%; object-fit: cover; object-position: center;"
                  >
                </div>
              </td>
              <td>
                <div class="w3-bar-item">
                  <div class="w3-large comment-owner">{{ item.name }}</div>
                  <div
                    class="comment-text w3-leftbar"
                    style="word-break: break-all;"
                  >{{ item.text }}</div>
                  <div class="comment-datetime">Added on {{ item.date }} at {{ item.time }}</div>
                </div>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </footer>

    <div :style="{display: isLoading}" id="id01" class="w3-modal">
      <div class="loader"></div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";

export default {
  name: "Comments",
  data() {
    return {
      comment: null,
      isLoading: "none"
    };
  },
  computed: {
    ...mapGetters(["sortedComments"]),
    ...mapState({
      commentList: state => state.comments
    })
  },
  methods: {
    ...mapMutations(["removeItem"]),
    ...mapActions(["addItemWithName"]),
    async addComment() {
      if (!this.comment.trim()) {
        return;
      }
      this.isLoading = "block";
      await this.addItemWithName(this.comment);
      this.isLoading = "none";
      this.comment = "";
    },
    removeComment(index) {
      this.removeItem(index);
    }
  }
};
</script>

<style>
.white-space-pre {
  white-space: pre-wrap;
}

.comment:hover {
  background-color: rgb(233, 233, 233);
}

.comment-textarea {
  width: 100%;
  height: 50px;
  resize: none;
}

.comment-avatar svg {
  height: 50px;
  width: 50px;
}

.w3-bar-item.div-photo {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  padding: 0;
}

.comment-datetime {
  color: gray;
}

.comment-owner {
  cursor: pointer;
}

.comment-owner:hover {
  text-decoration-line: underline;
  color: teal;
}

.comment-text {
  padding: 5px;
  margin: 5px;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
