<!--MainContent.vue-->
<template>
  <div>
    <div v-show="selectedTab == 0">
      <h1>{{ this.$root.title }}</h1>
      <h2>{{ this.$root.$data.subtitle }}</h2>
      <p>{{ this.$root.$data.content }}</p>
      <comments></comments>
    </div>
    <div v-show="selectedTab == 1">About</div>
    <div v-show="selectedTab == 2">Skills</div>
    <div v-show="selectedTab == 3">Education</div>
    <div v-show="selectedTab == 4">Experience</div>
    <div v-show="selectedTab == 5">Contact</div>
  </div>
</template>

<script>
import Comments from "@/components/Comments.vue";

export default {
  name: "MainContent",
  components: {
    Comments
  },
  props: {
    selectedTab: {
      type: Number,
      required: true
    }
  }
};
</script>