<!--SideBar.vue-->
<template>
  <div class="w3-center">
    <div :style="avatarStyle" class="w3-circle avatar"></div>
    <div class="w3-section">
      <span class="w3-xlarge w3-lobster">{{ $root.$data.name }}</span>
      <br>
      <span>{{ this.$root.$data.field }}</span>
      in {{ this.$root.$data.basedOn }}
    </div>
    <div class="w3-section">
      <a
        class="w3-bar-item"
        href="#"
        v-for="tab in tabs"
        :key="tab.id"
        :class="[isSelectedTab(tab.id) ? 'w3-teal' : 'w3-button']"
        @click="$emit('setSelectedTabListener', tab.id)"
      >{{ tab.text }}</a>
    </div>
    <div class="w3-container w3-black footer">&copy; {{ $root.year }}</div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  props: {
    selectedTab: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      img: "static/img/avatar_main.jpg",
      tabs: [
        { id: 0, text: "Home" },
        { id: 1, text: "About" },
        { id: 2, text: "Skills" },
        { id: 3, text: "Education" },
        { id: 4, text: "Experience" },
        { id: 5, text: "Contact" }
      ]
    };
  },
  computed: {
    avatarStyle() {
      return {
        backgroundImage: "url(" + this.img + ")"
      };
    }
  },
  methods: {
    isSelectedTab(tab) {
      return this.selectedTab === tab;
    }
  }
};
</script>

<style>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.avatar {
  width: 170px;
  height: 170px;
  margin: 20px auto 20px auto;
  background-size: cover;
  border-style: solid;
  border-color: white;
  border-width: 7px;
}
</style>
