<!--App.vue (Parent component)-->
<template>
  <div id="app" class="main-container">
    <side-bar
      :selectedTab="selectedTab"
      @setSelectedTabListener="setSelectedTab"
      class="w3-sidebar w3-light-grey w3-bar-block"
      style="width:250px"
    />
    <main-content :selectedTab="selectedTab" class="w3-container" style="margin-left:250px"/>
  </div>
</template>

<script>
import SideBar from "@/components/SideBar.vue";
import MainContent from "@/components/MainContent.vue";

export default {
  name: "App",
  components: {
    SideBar,
    MainContent
  }, //Register other components
  data() {
    return {
      selectedTab: 0
    };
  },
  methods: {
    setSelectedTab(tab) {
      this.selectedTab = tab;
    }
  }
};
</script>

<style>
.w3-lobster {
  font-family: "Lobster", serif;
}
</style>
